body {
  font-family: 'Montserrat', serif;
}
h1, h2, h3, h4 {
  font-family: 'Brown Sugar', sans-serif;
}
.hero-bg {
  background-image: url('https://source.unsplash.com/1600x900/?italy,lake');
  background-size: cover;
  background-position: center;
}
.bg-marble {
  background-image: url('https://www.transparenttextures.com/patterns/marble.png');
}

.bg-marble {
  background-color: #e8e6da;
}
.btn-verde {
  background-color: #8e9788;
  color: #F5F5F5;
}
